<section style="background: linear-gradient(to right, #c33764, #1d2671);">
    <div class="container">
        <div style="padding-top: 10vh;padding-bottom: 15vh;color:#fff">
            <center>
                <h1 style="color: #c33764;">ADD DRIVER</h1>
                <br>
                <h5 style="color: #f1f1f1;">We created our taxi to help you find the most dependable and highest quality
                    taxi services, anytime and
                    anywhere. All our drivers are uniformed and fully licensed.</h5>
                <form class="search-form">
                    <input type="text" class="form-control" placeholder="Enter Driver Name" required>
                    <input type="text" class="form-control" placeholder="Enter Driver Image" required>
                    <input type="text" class="form-control" placeholder="Enter Vehicle Name & Model" required>
                    <input type="text" class="form-control" placeholder="Enter Vehicle Number" required>
                    <input type="text" class="form-control" placeholder="Enter Vehicle Image" required>
                    <select class="form-control" required>
                        <option value="">Enter You City</option>
                        <option value="">Nepalunj</option>
                        <option value="">Kohalpur</option>
                    </select>
                    <select class="form-control" required>
                        <option value="">Enter You Pickup Location</option>
                        <option value="">Nepalunj</option>
                        <option value="">Kohalpur</option>
                    </select>
                    <select class="form-control" required>
                        <option value="">Enter You Purpose</option>
                        <option value="">Nepalunj</option>
                        <option value="">Kohalpur</option>
                    </select>
                    <div>
                        <br>
                        <h5>Availability</h5>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="option1">
                            <label class="form-check-label">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="option2"
                                checked>
                            <label class="form-check-label">No</label>
                        </div>
                    </div>
                    <button class="btn" style="margin-top: 13px;color:#fff">Find My Ride</button>
                </form>
            </center>
        </div>
    </div>
</section>