<style>
    body{
        background: #f1f1f1;
    }
    input{
        padding: 20px !important;
    }
</style>

<section>
    <div class="container">
        <center style="padding-top: 15vh;padding-bottom: 15vh;color:#000">
            <h2 class="search-form" style="text-align: left;">Sign in</h2>
            <br>
            <form class="search-form" method="POST" , action="/admin-login">
                <input type="text" class="form-control" placeholder="Email or mobile number" name="email" required>
                <input type="password" class="form-control" placeholder="Enter Password" name="password" required>
                <button class="btn" style="font-weight:bold;margin-top: 20px;color:#fff;background: rgb(17, 147, 154);width: 100%;padding:11px 20px;text-align: left;">
                    LOGIN
                    <i class="fas fa-long-arrow-alt-right" style="float: right;margin-top:2px;"></i>
                    </button>
            </form>
            <br>
            <div class="search-form" style="text-align: left;">
                Don't have an account? <a href="/admin-register" style="color: rgb(17, 147, 154);">Sign up</a>
            </div>
        </center>
    </div>
</section>

<section
    style="color: #000;background: #fff;">
    <div class="container">
        <center style="padding: 60px 0;">
            <h2 style="text-align: left;font-weight: bold;">Neprides for Business</h2>
            <br>
            <h5 style="color: #333;text-align: left;">Explore our national transportation solutions for your employees, guests, and customers.</h5>
            <br>
            <br>
            <div class="row" style="font-size: 18px;">
                <div class="col-md-4 homepage-info">
                    <img src="/img/adresspickup.png" style="width:55px;"> <br>
                    <strong>Adress Pickup</strong> <br>
                    <span style="color: #333;font-size:16px;">We always pick up our clients on time, 24/7 availability.</span>
                </div>
                <div class="col-md-4 homepage-info">
                    <img src="/img/outstation.png" style="width:66px;"> <br>
                   <strong>Out Station</strong> <br>
                    <span style="color: #333;font-size:16px;">We offer you a long distance taxi service to anywhere.</span>
                </div>
                <div class="col-md-4">
                    <img src="/img/parcel.png" style="width:50px;"> <br>
                    <strong>Parcel Delivery</strong> <br>
                    <span style="color: #333;font-size:16px;">We provide economic Parcel Delivery Within Nepal.</span>
                </div>
            </div>
        </center>
    </div>
</section>