<style>
    body {
        background: #f1f1f1;
    }

    input {
        padding: 20px !important;
    }
</style>

<section>
    <div class="container">
        <center style="padding-top: 10vh;padding-bottom: 15vh;color:#000">
            <h2 class="search-form" style="margin-bottom:10px;text-align: left;">Sign Up to Drive</h2>
            <h5 class="search-form" style="color: #444;margin-bottom:10px;font-size:17px;text-align: left;">Earn cash and & be your own boss</h5>
            <br>
            <form class="search-form" id="register-form">
                <input type="text" class="form-control" placeholder="Enter First Name" name="firstname" required>
                <input type="text" class="form-control" placeholder="Enter Last Name" name="lastname" required>
                <input type="text" class="form-control" placeholder="Email Adress or Number (Used for login)"
                    name="email" required>
                <input type="password" class="form-control" placeholder="Enter Password" name="password" required>
                <input type="text" class="form-control" placeholder="Enter Your Number" name="drivernumber" required>
                <input type="text" class="form-control" placeholder="Enter Driver Image Link" name="driverimage"
                    value="/img/userimage.png" required>
                <input type="text" class="form-control" placeholder="Enter Vehicle Name" name="vehiclename" required>
                <input type="text" class="form-control" placeholder="Enter Vehicle Number" name="vehiclenumber" required>
                <input type="text" class="form-control" placeholder="Enter Vehicle Image Link" name="vehicleimage"
                    value="/img/not-available.png" required>
                <select class="form-control" name="vehicletype" required>
                    <option value="">Enter You Vehicle Category</option>
                    <option value="car">Mini</option>
                    <option value="prime">Prime</option>
                    <option value="bike">Bike</option>
                </select>
                <div style="color:#000">
                    <br>
                    <h5>Available</h5>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="available" value="yes">
                        <label class="form-check-label">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="available" value="no" checked>
                        <label class="form-check-label">No</label>
                    </div>
                </div>
                <div id="register-error" style="text-align: left;color:red;font-size:13px;"></div>
                <button class="btn"
                    style="font-weight:bold;margin-top: 20px;color:#fff;background: rgb(17, 147, 154);width: 100%;padding:11px 20px;text-align: left;">
                    REGISTER
                    <span id="register-loader">
                        <img src="/img/svg/long-arrow-right.svg" style="float: right;margin-top:2px;width:14px;">
                    </span>
                    </button>
            </form>
            <br>
            <div class="search-form" style="text-align: left;">
                <p style="line-height: 14px;font-size:10px;margin:0 0 15px 0;">
                    By clicking "Sign Up", you agree to Nepsride's <a href="/termsandconditions" style="color:rgb(17, 147, 154);">Terms of
                        Use</a> and acknowledge you have read the <a href="/privacypolicy" style="color: rgb(17, 147, 154);">Privacy
                        Policy</a>. You also consent to receive calls or SMS messages, including by automated dialer,
                    from Nepsride
                    and its affiliates to the number you provide for informational and/or marketing purposes. Consent to
                    receive marketing messages is not a condition to use Nepsride's services.
                </p>
                Already have an account? <a href="/admin-login" style="color: rgb(17, 147, 154);">Log in</a>
            </div>
        </center>
    </div>
</section>

<script>
    function processForm(e) {
        e.preventDefault();

        $('#register-loader').empty().append(`<img src="/img/loginloader.svg" style="float: right;margin-top:2px;width:18px;">`)

        $.ajax({
            url: '/api/users/register',
            dataType: 'json',
            type: 'post',
            contentType: 'application/x-www-form-urlencoded',
            data: $(this).serialize(),
            success: function (data, textStatus, jQxhr) {
                console.log(data)

                if (data.registerSuccess === true) {
                    window.location.replace("/admin-login");
                } else if (data.registerSuccess === false) {
                    $('#register-loader').empty().append(`<img src="/img/svg/long-arrow-right.svg" style="float: right;margin-top:2px;width:14px;">`)
                    $('#register-error').empty().append(`<div style="margin-top:20px;">${data.message}</div>`)
                }
            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }

    $('#register-form').submit(processForm);
</script>