<style>
    .circle-dots {
        width: 4px;
        display: block;
        padding: 3px 0 3px 2px;
    }

    .main-dots {
        width: 5px;
        position: relative;
        bottom: 1px;
    }

    .main-dots2 {
        width: 5px;
        position: relative;
        top: 2px;
        margin-bottom: 5px;
    }

    .history-detail {
        width: 94%;
    }

    .wait-loading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .wait-loading img {
        width: 30px;
    }

    @media only screen and (max-width: 768px) {
        .history-detail {
            width: 87%;
        }
    }
</style>

<div class="container">
    <div style="padding-top: 3vh;padding-bottom: 3vh;color:#000;">
        <a href="/admin/upcoming-ride" style="color: #000;">
            <p style="color:green;"><strong>Upcoming Rides</strong></p>
            <div id="upcoming-data">
                <div class="wait-loading">
                    <div></div>
                    <div class="history-detail" style="margin-bottom:20px;"><img src="/img/loading.svg" /></div>
                </div>
            </div>
        </a>

        <p style="color:red;"><strong>Rides Histroy</strong></p>
        <div id="history-data">
            <div class="wait-loading">
                <div></div>
                <div class="history-detail" style="margin-bottom:20px;"><img src="/img/loading.svg" /></div>
            </div>
        </div>
    </div>
</div>

{{!-- ====================Moment js=============== --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script>
    $.getJSON("/api/your-rides", function (data) {
        // hide loading svg
        let loading = document.getElementsByClassName("wait-loading");
        for (let e of loading) { e.style.display = "none"; }

        if (data.isAuth) {
            //========================upcoming data===================
            $('#upcoming-data').append(
                data.user.ridestatus === 'pending' || data.user.ridestatus == 'true' ?
                    `
                        <div style="display: flex;flex-direction:row;justify-content:space-between;">
                            <div>
                                <img src="https://www.olacabs.com/webstatic/img/ola-fleet-svg/ola-mini-active.svg"
                                    style="width: 32px;position:relative;top:-4px;">
                            </div>
                            <div class="history-detail"
                                style="border-bottom: 1px solid rgba(0,0,0,0.125);padding-bottom:29px;margin-bottom:29px;">
                                <strong style="font-size: 15.5px;">${moment(data.user.bookingdate).format("ddd, MMM DD, hh:mm A")}</strong>
                                <span
                                    style="float: right;color: #777;text-transform:uppercase;font-size: 13.5px;position: relative;top:2px;">
                                    ${data.user.ridestatus === 'pending' ? data.user.ridestatus : data.user.ridestatus === 'true' ? 'Ride begun' : ''}
                                    </span>
                                <br>
                                <div style="font-size:14px;margin-bottom:10px;">Mini . Ba Kha 65615</div>
                                <img src="${data.user.driverimage}" alt=""
                                    style="width: 40px;height:40px;border-radius: 50%;object-fit:cover;float: right;margin-left:13px;">
                                <div style="line-height: 7px;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">
                                    <img src="/img/svg/circle.svg" class="main-dots"> <span style="font-size: 13px;">
                                        ${data.user.adress}
                                    </span>
                                    <div>
                                        <img src="/img/svg/circle.svg" class="circle-dots">
                                        <img src="/img/svg/circle.svg" class="circle-dots">
                                        <img src="/img/svg/circle.svg" class="circle-dots">
                                        <img src="/img/svg/circle.svg" class="circle-dots">
                                        <img src="/img/svg/circle.svg" class="circle-dots">
                                    </div>
                                    <img src="/img/svg/circle.svg" class="main-dots2"> <span style="font-size: 13px;">
                                        ${data.user.destination}
                                    </span>
                                </div>
                            </div>
                        </div>
                    `
                    :
                    `
                <div style="display: flex;flex-direction:row;justify-content:space-between;">
                    <div>

                    </div>

                    <div class="history-detail"
                        style="border-bottom: 1px solid rgba(0,0,0,0.125);padding-bottom:29px;margin-bottom:29px;">
                        <a href="${data.user.admin === 'false' ? '/' : '/admin/myaccount'}" style="color: #065fd4;">${data.user.admin === 'false' ? 'BOOK A RIDE' : 'UPDATE YOUR CITY'}</a>
                    </div>
            </div>
        `
            )
            //========================/upcoming data===================







            //======================history data====================
            if (data.user.history.length > 0) {
                $.each(data.user.history, function (i, history) {
                    $('#history-data').append(`
                <div style="display: flex;flex-direction:row;justify-content:space-between;">
                    <div>
                        <img src="https://www.olacabs.com/webstatic/img/ola-fleet-svg/ola-mini-active.svg"
                            style="width: 32px;position:relative;top:-4px;">
                    </div>
                    <div class="history-detail"
                        style="border-bottom: 1px solid rgba(0,0,0,0.125);padding-bottom:29px;margin-bottom:29px;">
                        <strong style="font-size: 15.5px;">${moment(history.date).format("ddd, MMM DD, hh:mm A")}</strong>
                        <span
                            style="float: right;color: #777;text-transform:uppercase;font-size: 13.5px;position: relative;top:2px;">${history.ridestatus}</span>
                        <br>
                        <div style="font-size:14px;margin-bottom:10px;">Mini . Ba Kha 65615</div>
                        <img src="${history.driverimage}"
                            style="width: 40px;height:40px;border-radius: 50%;object-fit:cover;float: right;margin-left:13px;">
                        <div style="line-height: 7px;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">
                            <img src="/img/svg/circle.svg" class="main-dots"> <span style="font-size: 13px;">
                                ${history.adress}
                            </span>
                            <div>
                                <img src="/img/svg/circle.svg" class="circle-dots">
                                <img src="/img/svg/circle.svg" class="circle-dots">
                                <img src="/img/svg/circle.svg" class="circle-dots">
                                <img src="/img/svg/circle.svg" class="circle-dots">
                                <img src="/img/svg/circle.svg" class="circle-dots">
                            </div>
                            <img src="/img/svg/circle.svg" class="main-dots2"> <span style="font-size: 13px;">
                                ${history.destination}
                            </span>
                        </div>
                    </div>
                </div>
            `)
                })
            } else if (data.history.length <= 0) {
                $('#history-data').append(`
                <div style="display: flex;flex-direction:row;justify-content:space-between;">
                    <div>

                    </div>
                    <div class="history-detail"
                        style="border-bottom: 1px solid rgba(0,0,0,0.125);padding-bottom:29px;margin-bottom:29px;">
                        <span>no history</span>
                    </div>
                </div>
            `)
            }
            //=========================/history data=======================
        } else {
            $('#upcoming-data').append(`<div style="display: flex;flex-direction:row;justify-content:space-between;">
                    <div></div>
                    <div class="history-detail"
                        style="border-bottom: 1px solid rgba(0,0,0,0.125);padding-bottom:29px;margin-bottom:29px;">
                        <a href='/admin-login'>Please login to view</a>
                    </div>
                </div>`);
            $('#history-data').append(`<div style="display: flex;flex-direction:row;justify-content:space-between;">
                    <div></div>
                    <div class="history-detail"
                        style="border-bottom: 1px solid rgba(0,0,0,0.125);padding-bottom:29px;margin-bottom:29px;">
                        <a href='/admin-login'>Please login to view</a>
                    </div>
                </div>`);

            window.location.replace("/admin-login");
        }
    });
</script>