<footer class="footer-pc" style="background: #000;color:#fff;padding: 30px 0;">
    <div class="container">
        <p style="font-size: 15px;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quae voluptatum error explicabo
            ducimus
            perspiciatis sed doloremque, eaque delectus, nesciunt accusantium quo mollitia fugit voluptas quos
            dolorum officiis, ut voluptatibus?
        </p>
        <i class="fab fa-facebook" style="font-size:20px;padding-right: 10px"></i>
        <i class="fab fa-instagram" style="font-size:20px;padding-right: 10px"></i>
        <i class="fab fa-youtube" style="font-size:20px;"></i>
    </div>
</footer>
<div class="footer-pc" style="background: #eeeeee;text-align:center;padding:10px 0;color:#000;">
    @Copyright nepscars.com 2019
</div>