<div class="container">
    <div style="padding-top: 10vh;padding-bottom: 45vh;color: #000;">
        <h1 style="font-weight: bolder;">Sorry, we couldn’t find that page</h1>
        <p>We’ve moved a lot of stuff over the years, and it must’ve gotten lost in the mix. Please try retyping the
            address
            or just head back to our home page.</p>
        <a href="/">GO TO NEPRIDES.COM <i class="fa fa-angle-right"></i></a>
    </div>
</div>