<section style="color: #000;">
    <div class="container">
        <center style="padding: 70px 0 54px 0;">
            <h2 style="text-align: left;font-weight: bold;">Nepsride for Everyone</h2>
            <br>
            <h5 style="color: #333;text-align: left;">Explore our national transportation solutions for your
                employees,
                guests, and customers.</h5>
            <br>
            <br>
            <div class="row" style="font-size: 18px;">
                <div class="col-md-4 homepage-info">
                    <img src="https://images.pexels.com/photos/35969/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                        style="width:100%;"> <br>
                    <div style="margin-top:10px;font-weight:bold;">Adress Pickup</div>
                    <p style="color: #333;font-size:16px;text-align: left;">We always pick up our clients on time,
                        24/7
                        availability.</p>
                </div>
                <div class="col-md-4 homepage-info">
                    <img src="https://images.pexels.com/photos/1046227/pexels-photo-1046227.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                        style="width:100%;"> <br>
                    <div style="margin-top:10px;font-weight:bold;">Out Station</div>
                    <p style="color: #333;font-size:16px;text-align: left;">We offer you a long distance taxi
                        service to
                        anywhere.</p>
                </div>
                <div class="col-md-4">
                    <img src="https://images.pexels.com/photos/97079/pexels-photo-97079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                        style="width:100%;"> <br>
                    <div style="margin-top:10px;font-weight:bold;">Rental Service</div>
                    <p style="color: #333;font-size:16px;text-align: left;">We provide economic Parcel Delivery
                        Within
                        Nepal.</p>
                </div>
            </div>
        </center>
    </div>
</section>