<div class="container">
    <div style="padding-top: 5vh;padding-bottom: 5vh;color:#000;">
        <div class="row">
            <div class="col-md-6" style="margin-bottom: 20px;">
                <img src="/img/earnwithus.jpg" style="width: 100%;">
            </div>
            <div class="col-md-6">
                <h2 style="margin-bottom:25px;font-weight: bold;font-size: 45px;color:#000;">
                    Driver <br> requirements
                </h2>
                <h4 style="margin-bottom:25px;color:#666;">How to drive with NepsRide</h4>
                <p style="margin-bottom:25px;font-size: 17px;">
                    NepsRide is a great way to be your own boss and earn extra cash. Most folks are eligible to drive on
                    the NepsRide platform—here’s what you need to know.
                </p>
                <a class="btn" href="/admin-driver-register"
                    style="color:#fff;background:#000;border:none;padding:17px;font-size:17px;font-weight:bold;">Start
                    driving with NepsRide</a>
            </div>
        </div>
    </div>
</div>

<section style="background:#eee;color:#000;">
    <div class="container" style="padding-top: 9vh;padding-bottom: 9vh;">
        <h2 style="margin-bottom:25px;font-weight: bold;font-size: 33px;color:#000;">
            Driver requirements details
        </h2> <br><br>
        <div class="row">
            <div class="col-md-2 col-8">
                <img src="/img/carearnwithus.svg" style="width:80%;">
            </div>
            <div class="col-md-10" style="font-size: 17px;margin-bottom:40px;">
                <p style="font-weight: bold;">Minimum requirements</p>
                <div>Anybody can drive with Nepsride, although there are a few minimum requirements:</div>
                <ul>
                    <li>Meet the minimum age to drive in your city</li>
                    <li>Have a valid driver’s license</li>
                    <li>Use an eligible 4-door vehicle</li>
                    <li> Or use an eligible bike</li>
                </ul>
            </div>

            <div class="col-md-2 col-8">
                <img src="/img/fileearnwithus.svg" style="width:80%;">
            </div>
            <div class="col-md-10" style="font-size: 17px;">
                <p style="font-weight: bold;">Required documents</p>
                <div>Before hitting the road, share the following documentation:</div>
                <ul>
                    <li>A valid driver’s license</li>
                    <li>Proof of residency in your city, state, or province</li>
                    <li>Proof of vehicle insurance if you plan to drive your own car</li>
                    <li>A driver profile photo
                        <ul>
                            <li>Must be a forward-facing, centered photo including the driver’s full face and top of
                                shoulders, with no sunglasses</li>
                            <li>Must be a photo only of the driver with no other subject in the frame, well-lit, and in
                                focus; it cannot be a driver’s license photo or other printed photograph</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container" style="padding-top: 8vh;padding-bottom:8vh;">
        <h2 style="font-weight: bold;font-size: 45px;color:#000;">
            Ready to make money?
        </h2>
        <h5>The first step is to sign up</h5>
        <a href="/admin-driver-register">Sign up to drive</a>
    </div>
</section>