<div class="container">
    <div style="padding-top: 10vh;padding-bottom: 45vh;color: #000;">
        <h1 style="font-weight: bolder;">OOPS!, you dont have and internet connection</h1>
        <p>Currently you cannot view this page offline. Please turn on your mobile data or Wifi. <br> <strong>And Scroll down to reload.</strong></p>
    </div>
</div>