<style>
    body {
        background: #f1f1f1;
    }

    input {
        padding: 20px !important;
    }
</style>

<section>
    <div class="container">
        <div style="padding-top: 5vh;padding-bottom: 15vh;color:#000">
            <h3 class="search-form" style="margin-bottom:10px;text-align: left;font-weight:bolder;">Add a new post</h3>
            <h5 class="search-form" style="color: #444;margin-bottom:10px;font-size:17px;text-align: left;">Please add
                the pictures to the cloudinary first, if needed</h5>
            <br>
            <form class="search-form" method="POST" action="/addblog">
                <input type="text" class="form-control" name="thumbnail" placeholder="Enter thumbnail url">
                <input type="text" name="title" class="form-control" placeholder="Enter the title">
                <input type="text" name="author" class="form-control" placeholder="Enter the author">
                <textarea name="body" id="body"></textarea>
                <button class="btn"
                    style="font-weight:bold;margin-top: 20px;color:#fff;background: rgb(17, 147, 154);width: 100%;padding:11px 20px;text-align: left;">
                    CREATE POST
                    <i class="fas fa-long-arrow-alt-right" style="float: right;margin-top:2px;"></i>
                </button>
            </form>
        </div>
    </div>
</section>